[project]
	description = bowling-game
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kunal (patelkunal)
[access "refs/for/refs/*"]
	read = group user/Kunal (patelkunal)
	push = group user/Kunal (patelkunal)
	label-Code-Review = -2..+2 group user/Kunal (patelkunal)
	label-Verified = -1..+1 group user/Kunal (patelkunal)
	rebase = group user/Kunal (patelkunal)
	removeReviewer = group user/Kunal (patelkunal)
	submit = group user/Kunal (patelkunal)
[access "refs/heads/*"]
	read = group user/Kunal (patelkunal)
	create = group user/Kunal (patelkunal)
	push = +force group user/Kunal (patelkunal)
	pushMerge = group user/Kunal (patelkunal)
[access "refs/tags/*"]
	push = +force group user/Kunal (patelkunal)
	pushTag = group user/Kunal (patelkunal)
	pushSignedTag = group user/Kunal (patelkunal)
